######
# Global Options
# https://caddyserver.com/docs/caddyfile/options#global-options
######
{
  debug

  admin off  # Disable adminer API under production environment

  # TLS Options
  # email {env.CA_EMAIL}
  # dns cloudflare {env.CLOUDFLARE_API_TOKEN}  # If work behind cloudflare
}


######
# Snippets
# https://caddyserver.com/docs/caddyfile/concepts#snippets
######

(headers) {
  # https://caddyserver.com/docs/caddyfile/directives/header
  header {
    Content-Security-Policy "default-src 'self'"
    Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"  # Enable HSTS
    X-Content-Type-Options "nosniff"  # XSS Protection
    X-Frame-Options "SAMEORIGIN"  # 防止点击劫持
  }
}

(logging) {
  log {
    output file /var/log/caddy/access.log
    format json
  }
}


######
# Sites
######

localhost {
  root * /srv
  file_server
  encode gzip
  import logging
}

example.com {
	redir https://www.example.com{uri} permanent
}

www.example.com {
  reverse_proxy :3000

  import logging
  import headers
  header -Content-Security-Policy
}
