# https://caddyserver.com/docs/caddyfile-tutorial

# https://caddyserver.com/docs/caddyfile/options#global-options
{
  debug
}

localhost {
  root * /srv
  file_server
}

example.com, www.example.com {
  reverse_proxy :3000 # served on port 3000
}
